body {
  font-family: sans-serif;
  font-size: 18px;
  background-color: #f8f8f8;
}

div.page {
  margin: 40px auto 40px auto;
  max-width: 80%;
}

div.title {
  display: block;
  font-size: 24px;
  margin: 0 0 40px 0;
  color: #666;
}

a {
  font-weight: bold;
  color: #333;
  border-bottom: 1px dotted #333;
  text-decoration: none;
}

img.fit-width {
  max-width: 100%;
  margin: 0 0 40px 0;
}

div.info {
  line-height: 22px;
  color: #999;
}

p#info-start {
  margin: 0;
}

ul.list-in-info {
  margin: 0 0 20px 5px;
  padding: 30px 0 0 0;
}

li {
  padding: 0 0 10px 0;
}

strong {
  color: #333;
}