body {
  background-color: #f8f8f8;
  font: 18px sans-serif;
}

.page {
  margin: 40px auto 40px auto;
  max-width: 80%;
}

.title {
  color: #666;
  display: block;
  font-size: 24px;
}

a {
  border-bottom: 1px dotted #333;
  font-weight: bold;
  text-decoration: none;
}

.fit-width {
  max-width: 100%;
}

.title,
.fit-width {
  margin: 0 0 40px 0;
}

.info {
  color: #999;
  line-height: 22px;
}

#info-start {
  margin: 0;
}

.list-in-info {
  margin: 0 0 20px 1em;
  padding: 30px 0 0 0;
}

li {
  padding: 0 0 10px 0;
}

a,
strong {
  color: #333;
}